@{
	//
}

<div class="bo-container bo-text-secondary">
	<div class="bo-d-flex bo-justify-content-around mb-3">
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Contact</li>
		</ul>
		<ul>
			<li>Facebook</li>
			<li>Twitter</li>
			<li>Instagram</li>
		</ul>
	</div>
	<div class="bo-text-center">
		Privacy/copyright
	</div>
</div>