@{
	//
}

<div class="bo-nav-container bo-text-dark">
	<label class="bo-theme-switch" title="Toggle dark mode">
		<input type="checkbox" class="bo-theme-switch-input" />
		<span class="bo-theme-switch-slider">
			<i class="bi bi-sun"></i>
			<i class="bi bi-moon"></i>
		</span>
	</label>

	<button type="button" class="bo-nav-btn">
		MENU <i class="bi bi-list"></i>
	</button>
</div>

<nav class="bo-nav bo-text-body">
	<div class="bo-nav-inner">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>