@{
	ViewData["Title"] = "About";
}

@section CustomHeader {
	<div class="bo-p-3 bo-bg-img-lock bo-vh-50 bo-d-flex bo-justify-content-center bo-align-items-center">
		<h1>About</h1>
	</div>
}

<div class="bo-container bo-p-3 bo-overflow-hidden">
	<h1>About</h1>
	<p class="bo-observer-target bo-observer-anim-slide-right">
		Lorem ipsum volutpat ac tincidunt vitae semper quis lectus.
		Tellus id interdum velit laoreet id.
	</p>
	<p class="bo-observer-target bo-observer-anim-slide-left">
		Neque convallis a cras semper auctor.
	</p>
	<p class="bo-observer-target bo-observer-anim-slide-right">
		Justo laoreet sit amet cursus sit amet dictum sit.
		Posuere sollicitudin aliquam ultrices sagittis orci.
	</p>
	<p class="bo-observer-target bo-observer-anim-slide-left">
		Pellentesque id nibh tortor id aliquet.
	</p>
</div>