@{
	ViewData["Title"] = "About";
}

@section CustomHeader {
	<div class="bo-p-3 bo-bg-img-lock bo-vh-50 bo-d-flex bo-justify-content-center bo-align-items-center">
		<h1>About</h1>
	</div>
}

<div class="bo-container bo-p-3">
	<h1>About</h1>
	<div class="bo-text-center">
		<p>Lorem ipsum odor amet, consectetuer adipiscing elit.</p>
		<p>Mus laoreet justo vel proin purus; lorem ridiculus.</p>
		<p>Mattis nec ac elit himenaeos aliquet.</p>
	</div>
</div>