@{
	ViewData["Title"] = "Index";
}

@section CustomHeader {
	<div class="bo-container bo-d-flex bo-flex-column bo-justify-content-around bo-text-center">
		<h1 class="bo-observer-target bo-observer-anim-slide-down">LOGO</h1>
		<p class="bo-observer-target bo-observer-anim-fade-in">SLOGAN</p>
		<button type="button" class="bo-observer-target bo-observer-anim-slide-up bo-w-50 bo-mx-auto">BUTTON</button>
	</div>
}

<h1>Index</h1>
<p>Paragraph</p>