@{
	ViewData["Title"] = "Index";
}

@section CustomHeader {
	<div class="bo-bg-img-wave bo-vh-75 bo-text-center bo-flex-fill bo-d-flex bo-flex-column bo-justify-content-around">
		<h1 class="bo-observer-target bo-observer-anim-slide-down">LOGO</h1>
		<p class="bo-observer-target bo-observer-anim-fade-in">SLOGAN</p>
		<div class="bo-observer-target bo-observer-anim-slide-up">
			<a href="#about" class="bo-py-3 bo-text-dark bo-btn bo-btn-highlight-1 bo-w-25 bo-mx-auto bo-d-block">Scroll to</a>
		</div>
	</div>
}

<div class="bo-container-fluid bo-p-3 bo-bg-body-2">
	<div class="bo-container">
		<h3>Pallette</h3>
		<div class="bo-d-flex bo-justify-content-center">
			<div class="bo-p-3 bo-bg-body-1">bo-bg-body-1</div>
			<div class="bo-p-3 bo-bg-body-2">bo-bg-body-2</div>
			<div class="bo-p-3 bo-bg-body-3">bo-bg-body-3</div>
			<div class="bo-p-3 bo-bg-highlight-1">bo-bg-body-2</div>
			<div class="bo-p-3 bo-bg-highlight-2">bo-bg-body-2</div>
		</div>
	</div>
</div>

<div class="bo-container bo-p-3 bo-my-5" id="about">
	<h1>Index</h1>
	<div class="bo-text-center">
		<p>Lorem ipsum volutpat ac tincidunt vitae semper quis lectus.</p>
		<p>Tellus id interdum velit laoreet id.</p>
		<p>Neque convallis a cras semper auctor.</p>
	</div>
</div>

<div class="bo-container-fluid bo-p-3 bo-bg-body-2">
	<div class="bo-container">
		<h2>Tiles</h2>
		<div class="bo-d-flex bo-flex-row bo-justify-content-center">
			<div class="bo-tile bo-tile-slide-down bo-bg-highlight-1 bo-p-3 bo-w-25">
				<div class="bo-tile-content">
					bo-tile-content
				</div>
				<div class="bo-tile-overlay bo-bg-highlight-2">
					<div class="bo-w-100 bo-h-100 bo-d-flex bo-justify-content-center bo-align-items-center">
						bo-tile-overlay
					</div>
				</div>
			</div>
		</div>
		<div class="bo-d-flex bo-flex-row bo-justify-content-center">
			<div class="bo-tile bo-tile-slide-left bo-bg-highlight-1 bo-p-3 bo-w-25">
				<div class="bo-tile-content">
					bo-tile-content
				</div>
				<div class="bo-tile-overlay bo-bg-highlight-2">
					<div class="bo-w-100 bo-h-100 bo-d-flex bo-justify-content-center bo-align-items-center">
						bo-tile-overlay
					</div>
				</div>
			</div>
			<div class="bo-tile bo-tile-fade bo-bg-highlight-1 bo-p-3 bo-w-25">
				<div class="bo-tile-content">
					bo-tile-content
				</div>
				<div class="bo-tile-overlay bo-bg-highlight-2">
					<div class="bo-w-100 bo-h-100 bo-d-flex bo-justify-content-center bo-align-items-center">
						bo-tile-overlay
					</div>
				</div>
			</div>
			<div class="bo-tile bo-tile-slide-right bo-bg-highlight-1 bo-p-3 bo-w-25">
				<div class="bo-tile-content">
					bo-tile-content
				</div>
				<div class="bo-tile-overlay bo-bg-highlight-2">
					<div class="bo-w-100 bo-h-100 bo-d-flex bo-justify-content-center bo-align-items-center">
						bo-tile-overlay
					</div>
				</div>
			</div>
		</div>
		<div class="bo-d-flex bo-flex-row bo-justify-content-center">
			<div class="bo-tile bo-tile-slide-up bo-bg-highlight-1 bo-p-3 bo-w-25">
				<div class="bo-tile-content">
					bo-tile-content
				</div>
				<div class="bo-tile-overlay bo-bg-highlight-2">
					<div class="bo-w-100 bo-h-100 bo-d-flex bo-justify-content-center bo-align-items-center">
						bo-tile-overlay
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bo-container bo-p-3">
	<h2>Index</h2>
	<div class="bo-text-center">
		<p>Justo laoreet sit amet cursus sit amet dictum sit.</p>
		<p>Posuere sollicitudin aliquam ultrices sagittis orci.</p>
		<p>Pellentesque id nibh tortor id aliquet.</p>
	</div>
</div>