@charset "utf-8";

/* Bootstrap breakpoints */
/* xs = 0; sm = 576px; md = 768px; lg = 992px; xl = 1200px; xxl = 1400px; */

/* globals */
:root {
    --root-theme-time: 0.5s;
    --root-btn-hover-time: 0.2s;
    --root-c-dark: #100F11;
    --root-c-light: #FAFAFA;
}

[data-theme=light] {
    --c-body: rgb(250, 250, 250); /*white*/
    --c-body-2: rgb(236, 236, 236); /*darker white*/
    --c-highlight-1: rgb(96, 180, 120); /*#60B478*/
    --c-highlight-2: rgb(154, 124, 248); /*#9A7CF8*/
    --txt-body: rgb(50, 50, 50); /* dark-text */
    --img-geo: url("Images/AdobeStock_318233593.jpeg");
}

[data-theme=dark] {
    --c-body: rgb(16, 15, 17); /*#100F11*/
    --c-body-2: rgb(48, 46, 53); /*#302E35*/
    --c-highlight-1: rgb(96, 180, 120); /*#60B478*/
    --c-highlight-2: rgb(154, 124, 248); /*#9A7CF8*/
    --txt-body: #FAFAFA; /* light-text */
    --img-geo: url("Images/AdobeStock_318233593_invert.jpg");
}

*,
*::before,
*::after {
    font-family: Arial, Verdana, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    color: var(--txt-body);
    background-color: var(--c-body);
    transition: var(--root-theme-time);
}

header {
    min-height: 75vh;
    display: flex;
    align-items: stretch;
    background-color: var(--c-body);
    background-image: var(--img-geo);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
}

/* ----- navbar ----- */
.bo-nav-container {
    backdrop-filter: blur(2px);
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    transition: var(--root-btn-hover-time);
    z-index: 1;
}

.bo-nav {
    background-color: var(--c-body);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

    .bo-nav.show {
        visibility: visible;
        height: 100%;
        opacity: 1;
    }

.bo-nav-inner {
    background-color: var(--c-body-2);
    border-radius: 1rem;
    min-width: 50%;
    height: 50%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

    .bo-nav-inner ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .bo-nav-inner a {
        color: var(--txt-body);
        display: block;
        padding: 1rem;
        text-decoration: none;
        transition: var(--root-btn-hover-time);
    }

        .bo-nav-inner a:hover {
            background-color: var(--c-highlight-1);
        }

.bo-nav-btn {
    background-color: transparent;
    color: var(--txt-body);
    padding: 1rem;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

    .bo-nav-btn:hover {

    }

.bo-theme-switch-slider {
    background-color: white;
    width: 50%;
    height: 100%;
    display: block;
    padding: 0.5rem;
    transform: translateX(0);
    transition: var(--root-theme-time);
    border-radius: 1rem;
    text-align: center;
    vertical-align: central;
}

.bo-theme-switch {
    background-color: lightgrey;
    border: 1px solid darkgrey;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.25rem;
    transition: var(--root-theme-time);
    min-width: 75px;
    min-height: 25px;
}

    .bo-theme-switch input {
        display: none;
    }

    .bo-theme-switch:has(input:checked) {
        background-color: var(--c-body);
    }

        .bo-theme-switch:has(input:checked) .bo-theme-switch-slider {
            transform: translateX(100%);
            background-color: darkgrey;
        }

        .bo-theme-switch:has(input:checked) .bi-sun {
            display: none;
        }

    .bo-theme-switch:has(input:not(:checked)) .bi-moon {
        display: none;
    }

/* ----- banner ----- */
.bo-banner {
    margin-top: -4rem;
}

    .bo-banner:before {
        content: "";
        display: block;
        padding: 2rem 0;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='100,0 100,100 0,100' style='fill: cornflowerblue;' /></svg>");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .bo-banner:after {
        content: "";
        display: block;
        padding: 2rem 0;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 100,0 0,100' style='fill: cornflowerblue;' /></svg>");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

.bo-banner-inner {
    background-color: cornflowerblue; /* for debugging */
    padding: 1rem;
}

.bo-btn {
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: central;
    filter: brightness(100%);
    transition: 0.25s;
}

    .bo-btn:hover {
        filter: brightness(110%);
    }

/* ----- observer anims ----- */
.bo-observer-anim-slide-down {
    position: relative;
    transform: translateY(-200%);
    opacity: 0;
    transition: 1s;
}

    .bo-observer-anim-slide-down.show {
        transform: translateY(0);
        opacity: 1;
    }

.bo-observer-anim-slide-up {
    position: relative;
    transform: translateY(200%);
    opacity: 0;
    transition: 1s;
}

    .bo-observer-anim-slide-up.show {
        transform: translateY(0);
        opacity: 1;
    }

.bo-observer-anim-fade-in {
    opacity: 0;
    transition: 1s;
}

    .bo-observer-anim-fade-in.show {
        opacity: 1;
    }

/* ----- containers ----- */
.bo-container,
.bo-container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* sm breakpoint */
@media screen and (width >= 576px) {
    .bo-container {
        width: calc(100vw - 20%);
    }
}

/* md breakpoint */
@media screen and (width >= 768px) {
    .bo-container {
        width: calc(100vw - 25%);
    }
}

/* lg breakpoint */
@media screen and (width >= 992px) {
    .bo-container {
        width: calc(100vw - 30%);
    }
}

/* xl breakpoint */
@media screen and (width >= 1200px) {
    .bo-container {
        width: calc(100vw - 35%);
    }
}

/* xxl breakpoint */
@media screen and (width >= 1400px) {
    .bo-container {
        width: calc(100vw - 40%);
    }
}

/* ----- display ----- */
.bo-d-block { display: block; }
.bo-d-flex { display: flex; }
.bo-flex-column { flex-direction: column; }
.bo-justify-content-around { justify-content: space-around; }
.bo-justify-content-center { justify-content: center; }

/* ----- text ----- */
.bo-text-center { text-align: center; }

/* ----- colors ----- */
.bo-text-body { color: var(--txt-body); }
.bo-text-light { color: var(--root-c-light); }
.bo-text-dark { color: var(--root-c-dark); }
.bo-bg-body { background-color: var(--c-body); }
.bo-bg-body-2 { background-color: var(--c-body-2); }
.bo-bg-highlight-1 { background-color: var(--c-highlight-1); }
.bo-bg-highlight-2 { background-color: var(--c-highlight-2); }

/* ----- margin and padding ----- */
.bo-mx-auto { margin-left: auto; margin-right: auto; }
.bo-my-auto { margin-top: auto; margin-bottom: auto; }
.bo-mb-1 { margin-bottom: 0.5rem; }
.bo-mb-2 { margin-bottom: 1rem; }
.bo-mb-3 { margin-bottom: 1.5rem; }
.bo-mb-4 { margin-bottom: 2rem; }
.bo-mb-5 { margin-bottom: 2.5rem; }
.bo-p-1 { padding: 0.5rem; }
.bo-p-2 { padding: 0.75rem; }
.bo-p-3 { padding: 1rem; }
.bo-p-4 { padding: 1.5rem; }
.bo-p-5 { padding: 2rem; }
.bo-py-1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.bo-py-2 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.bo-py-3 { padding-top: 1rem; padding-bottom: 1rem; }
.bo-py-4 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.bo-py-5 { padding-top: 2rem; padding-bottom: 2rem; }

/* ----- size ----- */
.bo-w-25 { width: 25%; }
.bo-w-50 { width: 50%; }
.bo-w-75 { width: 75%; }
.bo-w-100 { width: 100%; }