@charset "utf-8";

/* Bootstrap breakpoints */
/* xs = 0; sm = 576px; md = 768px; lg = 992px; xl = 1200px; xxl = 1400px; */

:root,
[data-theme=light] {
    /* test colors */
    --c-marble: #F2F8FC;
    /* root (global) */
    --theme-time: 0.25s;
    --txt-dark: #252525; /* rgb(50, 50, 50) */
    --txt-light: #FAFAFA;
    --c-light: #F2F8FC;
    --c-dark: #252525;
    --c-highlight: cornflowerblue;
    /* theme */
    --c-body: #FAFAFA;
    --txt-body: #252525; /* rgb(50, 50, 50) */
}

[data-theme=dark] {
    /* theme */
    --c-body: #252525; /* rgb(50, 50, 50) */
    --txt-body: #FAFAFA;
}

*,
*::before,
*::after {
    font-family: Arial, Verdana, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--c-body);
    transition: var(--theme-time);
    color: var(--txt-body);
    height: 100%;
}

header {
    min-height: 75vh;
    background-color: transparent;
    background-image: url("Images/AdobeStock_318233593.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--theme-time);
    display: flex;
    align-items: stretch;
}

[data-theme=dark] header {
    background-image: url("Images/AdobeStock_318233593_invert.jpg");
}

main {
    min-height: 100vh;
}

[data-theme=dark] main {
    color: var(--c-light);
}

.bo-nav-container {
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    transition: var(--theme-time);
    color: var(--txt-body);
}

[data-theme=dark] .bo-nav-container {
    background-color: rgb(0, 0, 0, 50%);
}

.bo-theme-switch-slider {
    background-color: white;
    width: 50%;
    height: 100%;
    display: block;
    padding: 0.5rem;
    transform: translateX(0);
    transition: var(--theme-time);
    border-radius: 1rem;
    text-align: center;
    vertical-align: central;
}

.bo-theme-switch {
    background-color: lightgrey;
    border: 1px solid darkgrey;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.25rem;
    transition: var(--theme-time);
    min-width: 75px;
    min-height: 25px;
}

    .bo-theme-switch input {
        display: none;
    }

    .bo-theme-switch:has(input:checked) {
        background-color: var(--theme-c-dark);
    }

        .bo-theme-switch:has(input:checked) .bo-theme-switch-slider {
            transform: translateX(100%);
            background-color: darkgrey;
        }

        .bo-theme-switch:has(input:checked) .bi-sun {
            display: none;
        }

    .bo-theme-switch:has(input:not(:checked)) .bi-moon {
        display: none;
    }

.bo-nav-btn {
    background-color: transparent;
    padding: 1rem;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--txt-body);
    transition: 0.2s;
}

    .bo-nav-btn:hover {
        color: var(--c-highlight);
    }

/* ----- observer anims ----- */
.bo-observer-anim-slide-down {
    position: relative;
    transform: translateY(-200%);
    opacity: 0;
    transition: 1s;
}

    .bo-observer-anim-slide-down.show {
        transform: translateY(0);
        opacity: 1;
    }

.bo-observer-anim-slide-up {
    position: relative;
    transform: translateY(200%);
    opacity: 0;
    transition: 1s;
}

    .bo-observer-anim-slide-up.show {
        transform: translateY(0);
        opacity: 1;
    }

.bo-observer-anim-fade-in {
    opacity: 0;
    transition: 1s;
}

    .bo-observer-anim-fade-in.show {
        opacity: 1;
    }
/* ----- containers ----- */
.bo-container,
.bo-container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* sm breakpoint */
@media screen and (width >= 576px) {
    .bo-container {
        width: calc(100vw - 20%);
    }
}

/* md breakpoint */
@media screen and (width >= 768px) {
    .bo-container {
        width: calc(100vw - 25%);
    }
}

/* lg breakpoint */
@media screen and (width >= 992px) {
    .bo-container {
        width: calc(100vw - 30%);
    }
}

/* xl breakpoint */
@media screen and (width >= 1200px) {
    .bo-container {
        width: calc(100vw - 35%);
    }
}

/* xxl breakpoint */
@media screen and (width >= 1400px) {
    .bo-container {
        width: calc(100vw - 40%);
    }
}

/* ----- display ----- */
.bo-d-block { display: block; }
.bo-d-flex { display: flex; }
.bo-flex-column { flex-direction: column; }
.bo-justify-content-around { justify-content: space-around; }
.bo-justify-content-center { justify-content: center; }

/* ----- text ----- */
.bo-text-dark { color: var(--txt-dark); }
.bo-text-center { text-align: center; }
.bo-text-light { color: var(--txt-light); }

/* ----- colors ----- */
.bo-bg-body { background-color: var(--c-body); }
.bo-bg-light { background-color: var(--c-light); }
.bo-bg-dark { background-color: var(--c-dark); }

/* ----- margin and padding ----- */
.bo-mx-auto { margin-left: auto; margin-right: auto; }
.bo-my-auto { margin-top: auto; margin-bottom: auto; }
.bo-p-1 { padding: 0.5rem; }
.bo-p-2 { padding: 0.75rem; }
.bo-p-3 { padding: 1rem; }
.bo-p-4 { padding: 1.5rem; }
.bo-p-5 { padding: 2rem; }

/* ----- size ----- */
.bo-w-25 { width: 25%; }
.bo-w-50 { width: 50%; }
.bo-w-75 { width: 75%; }
.bo-w-100 { width: 100%; }

/* ----- banner ----- */
.bo-banner {
    margin-top: -4rem;
}

    .bo-banner:before {
        content: "";
        display: block;
        padding: 2rem 0;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='100,0 100,100 0,100' style='fill: cornflowerblue;' /></svg>");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .bo-banner:after {
        content: "";
        display: block;
        padding: 2rem 0;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 100,0 0,100' style='fill: cornflowerblue;' /></svg>");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

.bo-banner-inner {
    background-color: cornflowerblue;
    padding: 1rem;
}

.bo-btn {
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: central;
    filter: brightness(100%);
    transition: 0.1s;
}

    .bo-btn:hover {
        filter: brightness(150%);
    }